<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.deeplearning_app">

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_ADDED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_INSTALL" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED" />
    <uses-permission android:name="com.deeplearning.app.permission.MIPUSH_RECEIVE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name="com.deeplearning.app.DLApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.deeplearning.app.activity.MainActivity"
            android:theme="@style/Base.Theme.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.deeplearning.app.activity.BaseActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name="com.deeplearning.app.activity.ActivityChooserActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name="com.deeplearning.app.activity.AppChooserActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name="com.deeplearning.app.activity.AutoInstallActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name="com.deeplearning.app.activity.CameraRecordActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name="com.deeplearning.app.activity.FieldChooserActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name="com.deeplearning.app.activity.AboutMeActivity"
            android:label="@string/about_title" />
        <activity
            android:name="com.deeplearning.app.activity.NotifySettingsActivity"
            android:label="@string/notify_settings" />
        <activity
            android:name="com.deeplearning.app.activity.WechatSettingsActivity"
            android:label="@string/wechat_settings" />
        <activity
            android:name="com.deeplearning.app.activity.RecordActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name="com.deeplearning.app.activity.ScreenRecordActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <service
            android:name="com.deeplearning.app.service.BaseNotificationService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <service
            android:name="com.deeplearning.app.service.BaseAccessibilityService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" >
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/service_config" />
        </service>

        <!--
        <service
            android:name="com.deeplearning.app.service.AccessibilityService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" >
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/service_config" />
        </service>

        <service
            android:name="com.deeplearning.app.service.AutoInstallService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/auto_install_accessibility_description"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/auto_install_services_config" />
        </service>

        <service
            android:name="com.deeplearning.app.service.AutoReplyAccessibilityService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/reply"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/reply"/>
        </service>

        <service
            android:name="com.deeplearning.app.service.AutoInstallAccessibilityService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/install"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/install"/>
        </service>

        <service
            android:name="com.deeplearning.app.service.AutoReplyService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/auto_reply_accessibility_description"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/auto_reply_service_config" />
        </service>



        <service
            android:name="com.deeplearning.app.service.CleanBackgroundProcessAccessibilityService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/clean"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/clean"/>
        </service>

        <service
            android:name="com.deeplearning.app.service.SelfDefenseAccessibilityService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/defense"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/defense"/>
        </service>

        <service
            android:name="com.deeplearning.app.service.SearchHackAccessibilityService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/search"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/search"/>
        </service>-->

    </application>

</manifest>